{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap" rel="stylesheet">

<div class="wrapper">
	<div class="container">
	<div class="row">
		<div class="col-md-6 col-lg-4">
			<div class="card mx-30">
			  <img src="https://avatars.githubusercontent.com/u/59518168?s=400&u=ca298edea0d400898c71991ed82cf79b28c29b06&v=4" class="card-img-top" alt="...">
			  <div class="card-body">
				<h5 class="card-title">Vivek Hotti</h5>
				<h6>Lead Developer</h6>
					<div class="socials">
						<a href="https://www.facebook.com/vivek.hotti.9/"><i class="fa fa-facebook"></i></a>
						<a href="https://www.instagram.com/vivek_hotti/"><i class="fa fa-instagram"></i></a>
						<a href="https://www.linkedin.com/in/vivekhotti/"><i class="fa fa-linkedin"></i></a>
						<a href="https://github.com/Vivek-Hotti"><i class="fa fa-github"></i></a>
					</div>
				</div>
				</div>
			</div>
				<div class="col-md-6 col-lg-4">
					<div class="card mx-30">
					  <img src="https://instagram.fbom16-1.fna.fbcdn.net/v/t51.2885-19/s320x320/123970665_1000771497013961_3687167906004879556_n.jpg?tp=1&_nc_ht=instagram.fbom16-1.fna.fbcdn.net&_nc_ohc=MYR6ZbvnTmcAX_opdgb&oh=552438d77fd04372000195f0de859c6a&oe=60690DC7" class="card-img-top" alt="...">
					  <div class="card-body">
						<h5 class="card-title">Dhruvil Shah</h5>
						<h6>Lead Developer</h6>
							<div class="socials">
								<a href="https://www.facebook.com/profile.php?id=100004412952565"><i class="fa fa-facebook"></i></a>
								<a href="https://www.instagram.com/d_rulezzz/"><i class="fa fa-instagram"></i></a>
								<a href="https://www.linkedin.com/in/dhruvil-shah-502b5a186/"><i class="fa fa-linkedin"></i></a>
								<a href="https://github.com/DhruvilShah22"><i class="fa fa-github"></i></a>
							</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4">
						<div class="card mx-30">
						  <img src="https://instagram.fbom16-1.fna.fbcdn.net/v/t51.2885-19/s320x320/35574404_211240169516285_3644553245583474688_n.jpg?tp=1&_nc_ht=instagram.fbom16-1.fna.fbcdn.net&_nc_ohc=Wj_eS-GoPR8AX85yla_&oh=9db3d6b5e5f322ad5810b88eea53ec50&oe=606B40CE" class="card-img-top" alt="...">
						  <div class="card-body">
							<h5 class="card-title">Aditya Singh</h5>
							<h6>Lead Developer</h6>
								<div class="socials">
									<a href="https://www.facebook.com/profile.php?id=100004412952565"><i class="fa fa-facebook"></i></a>
									<a href="https://www.instagram.com/d_rulezzz/"><i class="fa fa-instagram"></i></a>
									<a href="https://www.linkedin.com/in/dhruvil-shah-502b5a186/"><i class="fa fa-linkedin"></i></a>
									<a href="https://github.com/DhruvilShah22"><i class="fa fa-github"></i></a>
								</div>
								</div>
							</div>
						</div>

</div>
</div>
</div>

<style>
	body {
 font-family: 'Lato', sans-serif;
 align-content: center;
 align-items: center;
 align-self: center;
}

.wrapper {
padding-top: 120px;
align-items: center;
}
.row{
	align-self: center;
}
.card-img-top {
box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.card-body{
    text-align: center;
    box-shadow: 0px 15px 15px -8px rgba(0,0,0,0.5)
}
.card-body h6 {
font-size: 14px;
text-transform: uppercase;
color: deeppink;
}
.card-title {
text-transform: uppercase;
font-weight: bold;
font-size: 24px;
}

.socials a {
width: 40px;
height: 40px;
display: inline-block;
border-radius: 50%;
margin: 0 5px;
}
.socials a i {
color: #fff;
padding: 12px 0;
}    

.socials a:nth-child(1) {
background: #3b5998;
}.socials a:nth-child(2) {
background: #ff0000;
}.socials a:nth-child(3) {
background: #007bb5;
}.socials a:nth-child(4) {
background: #ea4c89;
}

@media (max-width: 800px){
    .mx-30{
        margin-bottom: 30px;
    }
}
</style>

{% endblock %}
